h1 {
  color: #FFD5A7;
  line-height: 0.5;
  padding: 0 0 0 60px;
}

.jumbotron {
  background-image: url(../images/pizzaHeader.png);
  background-color: black;
  color: #FFD5A7;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 0;
  border-bottom:
}

.container {
  border-left: 2px inset red;
  border-right: 2px inset red;
  border-bottom: 2px inset red;
  margin-top: -30px;
  padding-bottom: 20px;
}

.hidePizzaOrders {
  display: none;
}

.hidePizzaOrders {
  float: right;
  margin-right: 20px;
}

/* == footer style. Keep at bottom of css file == */
footer {
  margin: 50px 0 0 10px
}
